.lot_btn_group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.lot_btn {
  border-radius: 0.4rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  border: none;
  font-weight: 500;
}

.lot_btn:active,
.lot_btn:focus {
  outline: none;
}

.lot_primary_btn {
  background: #1b27af;
  color: #00ffeb;
}

.lot_primary_btn:hover {
  color: #00ffeb;
}

.lot_secondary_btn {
  background: transparent;
  border: 0.1rem solid #ffffff;
  color: #ffffff;
}

.cta-padding {
  padding: 0.7rem 1rem;
}

@media screen and (max-width: 520px), (max-width: 1224px) {
  .lot_btn_group {
    flex-direction: column;
    row-gap: 1rem;
  }
}
