.carousel-caption {
  position: initial;
  z-index: 10;
  padding: 5rem 8rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

@media (max-width: 767px) {
  .carousel-caption {
    position: initial;
    z-index: 10;
    padding: 3rem 2rem;
  }
}

.carousel-caption img {
  width: 6rem;
  border-radius: 5rem;
  margin-top: 2rem;
}

@media (max-width: 767px) {
  .carousel-caption img {
    width: 4rem;
    border-radius: 4rem;
    margin-top: 1rem;
  }
}

#image-caption {
  margin-top: 0.5rem;
}

@media (max-width: 767px) {
  #image-caption {
    margin-top: 0.5rem;
  }
}

i {
  background-color: transparent;
  color: #1769ff;
  border-radius: 0.4rem;
  padding: 1.4rem;
  margin: 0 1rem;
}

@media (max-width: 767px) {
  i {
    padding: 0.8rem;
  }
}

.carousel-control-prev {
  justify-content: flex-start;
}

.carousel-control-next {
  justify-content: flex-end;
}

.carousel-control-prev,
.carousel-control-next {
  transition: none;
  opacity: unset;
}
