.white {
  color: #ffffff;
}

.light_white {
  color: #f6f6ff;
}

.primary_color {
  color: #1b27af;
}

.cyan {
  color: #00ffeb;
}

.light_blue {
  color: #1769ff;
}

.black {
  color: #000000;
}

.red {
  color: #ff0000;
}

.grey {
  color: #707070;
}

.dark_grey {
  color: #484848;
}

.grey_one {
  color: #d0d8e8;
}

.grey_two {
  color: #d7d7e2;
}

.grey_three {
  color: #ececec;
}

.grey_four {
  color: #acb8c1;
}

.grey_five {
  color: #00000029;
}
