.contact_form {
  height: 34rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
  border-bottom-right-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  position: absolute;
  top: 0;
  right: 2rem;
  padding: 1rem;
}

@media screen and (max-width: 520px), (max-width: 1224px) {
  .contact_form {
    position: relative;
    border-radius: 0.4rem;
    right: 0;
    margin-top: 2rem;
  }
}
