header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.5s ease;
  z-index: 999;
}

.lot_nav {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: height 0.5s ease;
}

.logo img {
  height: 40px;
}

.nav_links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  transition: color 0.5s ease;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #00ffeb;
}

.mobile__menu {
  background: #fff;
  width: 100vw;
  padding: 1rem;
  box-shadow: 0px -1px 1px rgba(100, 100, 111, 0.2);
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 666;
}

.menu__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.menu__items .icon {
  font-size: 1.2rem;
}

.menu__items span {
  margin-top: 0.5rem;
}
.menu__items:active,
.menu__items:focus {
  color: #1b27af;
}

@media screen and (max-width: 520px), (max-width: 1224px) {
  header .lot_nav .nav_links {
    display: none;
  }
  .mobile__menu {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }
}
