.footer_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_icon {
  background: #1769ff;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer_icon_one {
  color: #fff;
}

@media screen and (max-width: 520px), (max-width: 1224px) {
  .footer_icons {
    margin-top: 2rem;
  }
}
