.lot_input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #d0d8e8;
  border-radius: 0;
  font-size: 0.8rem;
}

.lot_input:focus,
.lot_input:active {
  border: 1px solid #1b27af;
  box-shadow: none;
  outline: none;
  border-radius: 0.4rem;
}

.lot_select {
  background: transparent;
  width: 10rem;
  color: #fff;
  border-radius: 0.4rem;
}

.lot_select:focus,
.lot_select:active {
  background: transparent;
  color: #fff;
  outline: none;
  box-shadow: none;
}

.lot_select option {
  background: #fff;
  border-radius: 0.4rem;
}
