@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./header.css";
@import "./onScroll.css";
@import "./sections.css";
@import "./hero.css";
@import "./overview_section.css";
@import "./backgrounds.css";
@import "./colors.css";
@import "./buttons.css";
@import "./typography.css";
@import "./paddings.css";
@import "./margins.css";
@import "./borders.css";
@import "./forms.css";
@import "./inputs.css";
@import "./carousel.css";
@import "./cards.css";
@import "./icons.css";

*,
*::after,
*::before {
  box-sizing: border-box !important;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.lot_card_img {
  height: 240px;
  object-fit: cover;
}

.justify_content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lot_col {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.map {
  position: relative;
  z-index: 0;
}

.video_banner {
  background: url("../assets/images/img2.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video_banner a i {
  font-size: 5rem;
  color: #ff0000;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

::-webkit-scrollbar-thumb:hover {
  background: #cfc8c8;
}

@media screen and (max-width: 520px), (max-width: 1224px) {
  .video_banner {
    background: #fff;
  }
}
