.margin_left {
  margin-left: -11rem;
}

.margin_bottom-1 {
  margin-bottom: 1rem;
}

.margin_bottom-3 {
  margin-bottom: 3rem;
}

.margin_top-1 {
  margin-top: 1rem;
}

@media screen and (max-width: 520px), (max-width: 1224px) {
  .margin_left {
    margin: 0;
  }
}
