/*Thes styles are applied on scroll*/
.scroll-active {
  background-color: #fff;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}

.scroll-active .lot_nav {
  height: 5rem;
}

.scroll-active .lot_nav a {
  color: #313131;
}

.scroll-active #nav-cta {
  color: #00ffeb;
}

.scroll-active #nav-cta:hover {
  background-color: #151515;
}

.scroll-active .nav-link:hover {
  color: #00ffeb;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #00ffeb;
}
