.padding_bottom-1 {
  padding-bottom: 1rem;
}

.padding_top-1 {
  padding-top: 1rem;
}

.padding_bottom-2 {
  padding-bottom: 2rem;
}

.padding_top-2 {
  padding-top: 2rem;
}

.padding_left-4 {
  padding-left: 4rem;
}

.padding_right-4 {
  padding-right: 4rem;
}

.padding_bottom-6 {
  padding-bottom: 6rem;
}

.padding_left-0 {
  padding-left: 0;
}

.padding_right-0 {
  padding-right: 0;
}
