.lot_section {
  width: 100vw;
  min-height: 100vh;
}

.section-50 {
  width: 100vw;
  min-height: 50vh;
}

.section-80 {
  width: 100vw;
  min-height: 80vh;
}

#lot_hero {
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

#lot_hero h1,
#lot_hero p,
#lot_hero button {
  animation-name: home_text_animation;
  animation-duration: 2s;
  animation-timing-function: ease;
}

#lot-hero-video:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: #000;
  opacity: 0.65;
}
#lot-hero-video {
  left: 0%;
  top: 0%;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

#hero_content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem 0;
  z-index: 2;
}

.designs {
  position: relative;
  margin-top: -5rem;
  z-index: 3;
}

.numbers {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lot_content {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
}

.counts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.count:not(:last-child) {
  margin-right: 1rem;
}

.testmonial_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testmonial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.partner_logo {
  height: 100px;
  object-fit: contain;
}

.contact_footer_content {
  padding: 5rem 0;
}

@keyframes home_text_animation {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: translateX(0.8);
  }
}

@media screen and (max-width: 520px), (max-width: 1224px) {
  #hero_content {
    width: 100vw;
    padding: 1rem;
  }
  .counts {
    flex-direction: column;
  }
  .count {
    margin: 0;
  }
}
