.large_title {
  font-size: 3rem;
  font-weight: 900;
}

.medium_title {
  font-size: 2.5rem;
  font-weight: 200;
}

.small_title {
  font-size: 1rem;
  font-weight: 500;
}

.small_text {
  font-size: 0.8rem;
}

.text-muted {
  color: #d7d7e2 !important;
}
text {
  font-size: 20px;
}

.primary_text {
  color: #1769ff;
}

.secondary_text {
  color: #00ffeb;
}

.black_text {
  color: #000000;
}

.weight-600 {
  font-weight: 600;
}

.white_text {
  color: #ffffff;
}

.text_color {
  color: #484848;
}

@media screen and (max-width: 520px), (max-width: 1224px) {
  .large_title {
    font-size: 2rem;
  }
}
